body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
fieldset,img { 
	border:0;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
html, body {
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #52697E;
}
body {
	overflow: auto;
	width:100%;
	margin:0 auto;
}
.wrapper {
	width: 800px;
	margin: 0 auto;
	text-align: left;
}

div.content{
	width: 800px;
	border: 2px solid black;
	border-radius:10px;
    -moz-border-radius:10px;
	margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
	padding:1em;
	background-color:#87c791;
}

div.header{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
div.form {
	margin: 2em 3em 4em 3em;
	background-color:white;
	padding: 3em;
	border-radius:10px;	
    -moz-border-radius:10px;
}

h1 {
	font-size: 21px;
	height: 47px;
	line-height: 47px;
	background:url(../images/pantone.png) left top no-repeat;
	padding-left:50px;
	display: inline-block;
	color: #52697E;
}

h2{
	font-size: 18px;
	height: 47px;
	line-height: 47px;
	
}


.doc h2{
	text-transform: capitalize;	
}

div.examples{
	padding-left:2em;
}

p.examples{
	color:green;
	font-weight:bold;
	font-size:1.3em;
}

ul.examples{
	list-style-type: none;
}

#footer{
    padding-top: 2em;
    text-align: center;
}

#footer p{
    padding-top: 1em;
}

div.colors, div.color-info, div.color-extlinks{
	text-align:center;
	margin: 1em 3em;
	background-color:white;
	padding: 2em;
	border-radius:10px;    
    -moz-border-radius:10px;
}

.white-block{
	margin: 1em 3em;
	background-color:white;
	padding: 2em;
	border-radius:10px;    
    -moz-border-radius:10px;
}

div.colors{
	background-color:white;
}

div.color-numbers{
	margin: 4em 3em 2em 3em;
    background-color: LIGHTGREY;
}

div.color-info, div.color-extlinks{
	padding: 1.5em;
}

div.color{
	margin:0 auto;
	margin-bottom:1em;
	width:150px;
	height:150px;
	border: 2px solid black;
	border-radius:10px;
    -moz-border-radius:10px;
}

div.dbpedia{
	padding-top: 1em;
}

#colorSelector {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(../images/select.png);
}
#colorSelector div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../images/select.png) center;
}
#colorSelector2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	background: url(../images/select2.png);
}
#colorSelector2 div {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: url(../images/select2.png) center;
}
#colorpickerHolder2 {
	top: 32px;
	left: 0;
	width: 356px;
	height: 0;
	overflow: hidden;
	position: absolute;
}
#colorpickerHolder2 .colorpicker {
	background-image: url(../images/custom_background.png);
	position: absolute;
	bottom: 0;
	left: 0;
}
#colorpickerHolder2 .colorpicker_hue div {
	background-image: url(../images/custom_indic.gif);
}
#colorpickerHolder2 .colorpicker_hex {
	background-image: url(../images/custom_hex.png);
}
#colorpickerHolder2 .colorpicker_rgb_r {
	background-image: url(../images/custom_rgb_r.png);
}
#colorpickerHolder2 .colorpicker_rgb_g {
	background-image: url(../images/custom_rgb_g.png);
}
#colorpickerHolder2 .colorpicker_rgb_b {
	background-image: url(../images/custom_rgb_b.png);
}
#colorpickerHolder2 .colorpicker_hsb_s {
	background-image: url(../images/custom_hsb_s.png);
	display: none;
}
#colorpickerHolder2 .colorpicker_hsb_h {
	background-image: url(../images/custom_hsb_h.png);
	display: none;
}
#colorpickerHolder2 .colorpicker_hsb_b {
	background-image: url(../images/custom_hsb_b.png);
	display: none;
}
#colorpickerHolder2 .colorpicker_submit {
	background-image: url(../images/custom_submit.png);
}
#colorpickerHolder2 .colorpicker input {
	color: #778398;
}
#customWidget {
	position: relative;
	height: 36px;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
}

.left {
}

.right {
  width: 28%;
}

.number-title{
    color: #5C5D5F;
	font-weight: bold;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}