<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html 
  version="XHTML+RDFa 1.0"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:dct="http://purl.org/dc/terms/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:sioc="http://rdfs.org/sioc/ns#" 
  xml:lang="en"
>

  <head>
    <title property="dct:title">Linked Open Colors: #{{color.color}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="transformation" href="http://www-sop.inria.fr/acacia/soft/RDFa2RDFXML.xsl"/>
    <link rel="alternate" type="application/rdf+xml" title="RDF/XML" href="{{color.color}}.rdf" />
    <link rel="alternate" type="text/turtle" title="RDF Turtle" href="{{color.color}}.ttl" />
    <style type="text/css">
        div.color{
            background-color:#{{color.hex}};
        }

        tt a, tt a:active, tt a:visited {
            color: #000000;
            text-decoration: none;
        }

        tt a:hover {
            color: #000000;
            text-decoration: underline;
        }

    </style>
    <link rel="stylesheet" media="screen" type="text/css" href="/resources/css/layout.css" />
  </head>

<body typeof="foaf:Document" about="" >
	<div class="content">
		<div class="header">
			<a href="/"><h1>Linked Open Colors</h1></a>
		</div>
		<div class="row"> 
			<div class="column left colors"> 
				<div class="color"></div>
				<div class="label">
					<tt style="font-size: 1.5em;"><a rel="foaf:primaryTopic" href="{{color.primary_uri}}" title="color {{color}}">{{color.primary_uri}}</a></tt>
				</div> 
				<div class="dbpedia">
					{% if color.mappings.dbpedia_color %}<tt>(dbpedia) owl:sameAs <a href="{{color.mappings.dbpedia_color.uri}}" title="color {{color}}">{{color.mappings.dbpedia_color.label}}</a></tt> {% endif %}
				</div>
			</div>
			<div class="column right colors color-numbers">
				{% if color.mappings.ral_color %}<span class="number-title">RAL code</span> {{color.mappings.ral_color.ralCode}}<br />{% endif %}
				{% if color.mappings.ral_color %}<span class="number-title">RAL name</span> "{{color.mappings.ral_color.name.en}}"<br />{% endif %}
				{% if color.mappings.crayola_color %}<span class="number-title">Crayola name</span> "{{color.mappings.crayola_color.name}}"<br />{% endif %}
				{% if color.css %}<span class="number-title"><abbr title="Cascading Style Sheets">CSS</abbr> name</span> "{{color.css.name}}" <br/> {% endif %}
				<span class="number-title"><abbr title="Hexadecimal">Hex</abbr> triplet</span> #{{color.hex}} <br/>
				<span class="number-title"><abbr title="Red Green Blue">RGB</abbr> Decimal</span> {{color.rgb.0}}, {{color.rgb.1}}, {{color.rgb.2}}<br/>
				<span class="number-title"><abbr title="Red Green Blue">RGB</abbr> Percent</span> {{color.rgb_percent_print.0}}%, {{color.rgb_percent_print.1}}%, {{color.rgb_percent_print.2}}%<br/>	
				<span class="number-title"><abbr title="Cyan Magenta Yellow Key">CMYK</abbr></span> {{color.cmyk.c}}%, {{color.cmyk.m}}%, {{color.cmyk.y}}%, {{color.cmyk.k}}% <br/>
				<span class="number-title"><abbr title="Hue Saturation Lightness">HSL</abbr></span> {{color.hue}}°, {{color.hsl_saturation}}%, {{color.hsl_lightness}}% <br/>
				<span class="number-title"><abbr title="Hue Saturation Value">HSV</abbr> (or <abbr title="Hue Saturation Brightness">HSB</abbr>)</span> {{color.hue}}°, {{color.hsv_saturation}}%, {{color.hsv_value}}%<br/>
			</div>
		</div>		

        <div class="color-info">
            <div class="long-text">
            {% if color.mappings.ral_color %}<p>In <strong>RAL</strong>, the code is {{color.mappings.ral_color.ralCode}} and it is known by the name "{{color.mappings.ral_color.name.en}}"</p>{% endif %}
            {% if color.mappings.crayola_color %}<p>In <strong>Crayola</strong>, it is known by the name "{{color.mappings.crayola_color.name}}"</p>{% endif %}
            {% if color.css %}<p>In <strong><abbr title="Cascading Style Sheets">CSS</abbr></strong>, it is known by the keyword "{{color.css.name}}"</p>{% endif %}
            <p>In a <strong><abbr title="Red Green Blue">RGB</abbr></strong> color space, <abbr title="hexadecimal">hex</abbr> #{{color.hex}} is composed of {{color.rgb_percent_print.0}}% <strong>Red</strong>, {{color.rgb_percent_print.1}}% <strong>Green</strong> and {{color.rgb_percent_print.2}}% <strong>Blue</strong>.</p>
            <p>In a <strong><abbr title="Cyan Magenta Yellow Key">CMYK</abbr></strong> color space, it is composed of {{color.cmyk.c}}% <strong>Cyan</strong>, {{color.cmyk.m}}% <strong>Magenta</strong>, {{color.cmyk.y}}% <strong>Yellow</strong> and {{color.cmyk.k}}% <strong>black</strong>.</p>
            <p>In <strong><abbr title="Hue Saturation Lightness">HSL</abbr></strong>, it has a <strong>hue</strong> angle of {{color.hue}}º degrees, a <strong>saturation</strong> of {{color.hsl_saturation}}% and a <strong>lightness</strong> of {{color.hsl_lightness}}%.</p>
            <p>In <strong><abbr title="Hue Saturation Value">HSV</abbr> (or <abbr title="Hue Saturation Brightness">HSB</abbr>)</strong>, it has a <strong>hue</strong> angle of {{color.hue}}º degrees, a <strong>saturation</strong> of {{color.hsv_saturation}}% and a <strong>value</strong> of {{color.hsv_value}}%.</p>
            </div>
        </div>
        <div class="color-info">
            <div class="long-text">
            <a title="RDF/XML" href="{{color.color}}.rdf">Download RDF/XML (application/rdf+xml) information of the color #{{color.hex}}</a> <br />
            <a title="RDF Turtle" href="{{color.color}}.ttl">Download Turtle (text/turtle) information of the color #{{color.hex}}</a>
            </div>
        </div>
		<div class="color-extlinks">
			<p>More about this color at: <a href="http://www.colorhexa.com/{{color.hex|lower}}">ColorHexa</a>, <a href="http://rgb.to/hex/{{color.hex}}">rgb.to</a>, <a href="http://www.color-hex.com/color/{{color.hex|lower}}">ColorHex</a>, <a href="http://ontologi.es/colour/{{color.hex|upper}}">Colour ontologi.es</a></p>
		</div>
    </div> <!-- content -->

    <div id="footer"> 
        <p><a href="/">Linked Open Colors</a>, a RDF dataset created for the April Fools' Day of 2011 as an informal initiative for promoting Linked Data. Last update: March 2018</p>
	    <p><a href="/doc">Help/Documentation</a> // Contact: <a href="http://dayures.net/#contact">dayures.net (Carlos Tejo)</a></p>
    </div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-1256314-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1256314-5');
</script>
</body>
</html>

